
@{
    ViewBag.Title = "Reply";
}
@model TweetTest.Models.TweetResult
<h2>Reply</h2>
<p>返信先</p><br>
<p>@Model.tweet</p><br><br>

<p>返信内容</p>
<form action="/Tweet/Reply" method="post">
    <div class="control-group">
        <p><label class="control-label" for="tweet">返信画面</label></p>
        <div class="controls">
            <p>
                <select name="task1chk">
                    <option value="1" selected></option>
                    <option value="2">○</option>
                    <option value="3">×</option>
                </select>
                <input class="text-box single-line" id="task1" name="task1" type="text" value="" />
            </p><br>
            <p>
                <select name="task2chk">
                    <option value="1" selected></option>
                    <option value="2">○</option>
                    <option value="3">×</option>
                </select>
                <input class="text-box single-line" id="task2" name="task2" type="text" value="" />
            </p><br>
            <p>
                <select name="task3chk">
                    <option value="1" selected></option>
                    <option value="2">○</option>
                    <option value="3">×</option>
                </select>
                <input class="text-box single-line" id="task3" name="task3" type="text" value="" />
            </p><br>
            <p>
                <select name="task4chk">
                    <option value="1" selected></option>
                    <option value="2">○</option>
                    <option value="3">×</option>
                </select>
                <input class="text-box single-line" id="task4" name="task4" type="text" value="" />
            </p><br>
            <p>
                <select name="task5chk">
                    <option value="1" selected></option>
                    <option value="2">○</option>
                    <option value="3">×</option>
                </select>
                <input class="text-box single-line" id="task5" name="task5" type="text" value="" />
            </p><br>
            <p><input id="replyId" name="replyId" type="hidden" value=@Model.tweetId /></p><br>
            <p><span class="field-validation-valid help-inline" data-valmsg-for="tweet" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-actions no-color">
        <input type="submit" value="ツイート" class="btn" />
    </div>
</form>