@using TweetTest.Models
@model LoginViewModel
@{
    ViewBag.Title = "ログイン";
}

<div class="card border-primary">
    <div class="card-body">
        <h2 class="card-title">@ViewBag.Title.</h2>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
