@model TweetTest.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>アカウント設定の変更</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>外部ログイン:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("管理", "ManageLogins") ]
        </dd>
    </dl>
</div>
