
@{
    ViewBag.Title = "index";
}
@model TweetTest.Models.TweetResult
<h1>Topページ</h1>
@if (Model != null) {
    <h2>最新タスク</h2>
    <table>
        @foreach (var item in Model.myTasks) {
            <tr>
                <td>
                    @if (item.state == 0) {
                    <select>
                        <option value="0" selected="selected"></option>
                        <option value="1">○</option>
                        <option value="2">×</option>
                    </select>
                    } else if (item.state == 1) {
                    <select>
                        <option value="0"></option>
                        <option value="1" selected="selected">○</option>
                        <option value="2">×</option>
                    </select>
                    } else if (item.state == 2) {
                    <select>
                        <option value="0"></option>
                        <option value="1">○</option>
                        <option value="2" selected="selected">×</option>
                    </select>
                    }
                    @*<p> @item.state </p>*@
                </td>
                <td>
                    <p> @item.myTask </p>
                </td>
            </tr>
        }
    </table>
} else {
    <p>タスクはありません</p>
}
