
@{
    ViewBag.Title = "index";
}
@model TweetTest.Models.TweetResult
<h1>Topページ</h1>
@if (Model != null) {
    <h2>最新タスク</h2>
    <table>
        @foreach (var item in Model.myTasks) {
            <tr>
                <td>
                    @if (item.state == 0) {
                        <p></p>
                    } else if (item.state == 1) {
                        <p>○</p>
                    } else if (item.state == 2) {
                        <p>×</p>
                    }
                    @*<p> @item.state </p>*@
                </td>
                <td>
                    <p> @item.myTask </p>
                </td>
            </tr>
        }
    </table>
} else {
    <p>タスクはありません</p>
}
