@{
    ViewBag.Title = "Regist";
    @*Layout = "~/Views/_ViewStart.cshtml";*@
}

<h2>Regist</h2>

@using (Html.BeginForm("Regist", "MyTask", FormMethod.Post)) {
    for (int i = 0; i < 5; i++) {
        @Html.TextBox("myTasks[" + i + "].myTask")<br>
    }
    <input type="submit" value="ツイート" class="btn" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
