@model TweetTest.Models.TweetResult

@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card border-primary">
            <div class="card-body">
                <h2 class="card-title">タスク更新</h2>
                @using (Html.BeginForm("Update", "MyTask", FormMethod.Post)) {
                    for (int i = 0; i < Model.myTasks.Count; i++) {
                        int numno = i + 1;
                        if (Model.myTasks[i].state == 0) {
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="myTasks[@i].state" value="1" autocomplete="off"> ○
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="myTasks[@i].state" value="2" autocomplete="off"> ×
                                </label>
                            </div>
                        } else if (Model.myTasks[i].state == 1) {
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="myTasks[@i].state" value="1" autocomplete="off" checked> ○
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="myTasks[@i].state" value="2" autocomplete="off"> ×
                                </label>
                            </div>
                        } else if (Model.myTasks[i].state == 2) {
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="myTasks[@i].state" value="1" autocomplete="off"> ○
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="myTasks[@i].state" value="2" autocomplete="off" checked> ×
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">No.@numno</div>
                                </div>
                                <input class="form-control" type="text" name="myTasks[@i].myTask" value=@Model.myTasks[i].myTask readonly="readonly">
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-lg btn-block btn-primary" href="/MyTask/Index" role="button">戻る</a>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
