@model TweetTest.Models.TweetResult

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<hr />

<div>
    @using (Html.BeginForm("Update", "MyTask", FormMethod.Post)) {
        for (int i = 0; i < Model.myTasks.Count; i++) {
            @Html.DropDownList("Model.myTasks[" + i + "].state",
                                new SelectList(new string[] { "", "○", "×" }, Model.myTasks[i].state))
            @Html.TextBox("Model.myTasks[" + i + "].myTask", Model.myTasks[i].myTask)
        }
        <input type="submit" value="ツイート" class="btn" />
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
