@model TweetTest.Models.TweetResult

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<hr />

<div>
    @using (Html.BeginForm("Update", "MyTask", FormMethod.Post)) {
        for (int i = 0; i < Model.myTasks.Count; i++) {
            var str = "myTasks[" + i + "].state";
            if (Model.myTasks[i].state == 0) {
                <select name=@str>
                    <option value="0" selected="selected"></option>
                    <option value="1">○</option>
                    <option value="2">×</option>
                </select>
            } else if (Model.myTasks[i].state == 1) {
                <select name=@str>
                    <option value="0"></option>
                    <option value="1" selected="selected">○</option>
                    <option value="2">×</option>
                </select>
            } else if (Model.myTasks[i].state == 2) {
                <select name=@str>
                    <option value="0"></option>
                    <option value="1">○</option>
                    <option value="2" selected="selected">×</option>
                </select>
            }
            @Html.TextBox("myTasks[" + i + "].myTask", Model.myTasks[i].myTask)
        }
        <input type="submit" value="ツイート" class="btn" />
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
