@{
    ViewBag.Title = "Home Page";
}

<div class="card border-primary">
    <div class="card-body">
        <h2 class="card-title">ようこそ</h2>
        <a class="btn btn-primary btn-block" href="/Account/Register" role="button" id="registerLink">登録</a>
        <a class="btn btn-primary btn-block" href="/Account/Login" role="button" id="loginLink">ログイン</a>
    </div>
</div>